<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About us</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <h1>ABOUT US</h1>
    

        <P id="welcome">Welcome to Trash Locator!</P>
        <P> We help you create awareness about waste management and act as an intermediary between you and our city municipality (BBMP).</P>
        
        <P>Our platform serves as a bridge, enabling you to directly connect with BBMP and express your concerns regarding discarded trash on roads, footpaths, private properties, and more.</p>
</body>