<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>TrashLocator</title>
</head>
<body>
    <main>
        <nav class="navbar">
            <ul class="nav-list">
                <div class="animate">
                    <img src="https://cdn-icons-png.freepik.com/512/8318/8318741.png" width="60" height="40">
                </div>

                <li><a href="#home">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/incharge">Incharge Login</a></li>
                <li><a href="/about">About</a></li>

                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
            </ul>
        </nav>
        <div id="align1">
            <img src="https://www.greenwarrior.co.in/images/resource/16.jpg" height="380" width="700">
        </div>
        <a href="/map" target="_blank" id="btn1"><button id="btn">LOCATE TRASH!</button></a>
        <p id="motive">Clean city, green future</p>
    </main>
</body>
</html>
