<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/incharge.css">
    <title>Incharge Login</title>
</head>
<body>
    <div class="container">
        <form id="trashlocator" class="form-wrapper">
            <h1>Incharge Login</h1>
            <p>Please enter your login details</p>

            <label for="name">Name:</label>
            <input type="text" placeholder="Enter your name" id="name">

            <label for="password">Password</label>:</label>
            <input type="text" placeholder="Enter password" id="password">

            <label for="aadhar">Aadhar Number:</label>
            <input type="text" placeholder="Enter your Aadhar number" id="aadhar">

            <label for="email">Email:</label>
            <input type="text" placeholder="Enter your email" id="email">

            <label for="file">Upload your proof:</label>
            <div class="proof">
                <input type="link" id="proof" placeholder="Upload proof in link form">
                <span><button id="upload">Upload link</button></span>
            </div>
            <button id="btn">Submit</button>

        </form>
    </div>
</body>
</html>