<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form id="trashlocator" class="form-wrapper" method="get" action="/login">
            <h1>Login</h1>
            <p>Please enter your login details</p>

            <label for="name">Name:</label>
            <input type="text" placeholder="Enter your name" id="name">

            <label for="password">Password:</label>
            <input type="text" placeholder="Enter password" id="password">

            <label for="aadhar">Aadhar Number:</label>
            <input type="text" placeholder="Enter your Aadhar number" id="aadhar">

            <label for="email">Email:</label>
            <input type="text" placeholder="Enter your email" id="email">

            <button id="btn">Submit</button>
        </form>
    </div>
</body>
</html>